<div class="comparison pt-5 pb-5">
    <div class="container pt-5 pb-5 d-none d-md-block">
        <div class="col-12">
            <h4>US VS. THEM</h4>
        </div>
        <div class="row mt-5">
            <div class="col border-bottom border-dark ">
                
            </div>
            <div class="col border-bottom border-dark  p-2 background_green">
                <img src="{{ 'Barcode_Wordmark.png' | asset_url}}" class="w-100" alt="">
            </div>
            <div class="col border-bottom border-dark text-center p-2">
                <p>TRADITIONAL PERFORMANCE BEVERAGES</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom border-dark ">
                <p>ALL NATURAL INGREDIENTS</p>
            </div>
            <div class="col border-bottom border-dark  p-2 text-center background_green">
                <p>YES</p>
            </div>
            <div class="col border-bottom border-dark  p-2 text-center">
                <p>NO</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom border-dark  ">
                <p>LOW SUGAR</p>
            </div>
            <div class="col border-bottom border-dark  p-2 text-center background_green">
                <p>YES</p>
            </div> 
            <div class="col border-bottom border-dark  p-2 text-center">
                <p>NO</p>
            </div>
        </div>
        <div class="row">
            <div class="col border-bottom border-dark ">
                <p>PLANT-BASED</p>
            </div>
            <div class="col border-bottom border-dark  p-2 text-center background_green">
                <p>YES</p>
            </div>
            <div class="col border-bottom border-dark  p-2 text-center">
                <p>NO</p>
            </div>
        </div>
        <div class="row ">
            <div class="col border-bottom border-dark ">
                <p>MADE FOR EVERYBODY, EVERYDAY</p>
            </div>
            <div class="col border-bottom border-dark p-2 text-center background_green">
                <p>YES</p>
            </div>
            <div class="col border-bottom  border-dark  p-2 text-center">
                <p>NO</p>
            </div>
        </div>

    </div>
       <!--FOR CAROUSEL-->

       <div class="container d-sm-block d-md-none">
        <div class="row ">
            <div class="col-6">
                <div class="row">
                    <div class="col-12 border-bottom border-dark table-header-comparison">
                        
                    </div>
                    <div class="col-12 border-bottom border-dark">
                        <p class="text-center">ALL NATURAL INGREDIENTS</p>
                    </div>
                    <div class="col-12 border-bottom border-dark">
                        <p class="text-center">LOW SUGAR</p>
                    </div>
                    <div class="col-12 border-bottom border-dark">
                        <p class="text-center">PLANT BASED</p>
                    </div>
                    <div class="col-12 border-bottom border-dark last_column">
                        <p class="text-center">MADE FOR EVERYBODY, EVERYDAY</p>
                    </div>
                </div>
            </div>  
            <div class="col-6 p-0">
                <div id="comparison_carousel" class="carousel slide d-sm-block d-md-none pb-5" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-12 border-bottom border-dark table-header-comparison">
                                <center><img src="{{ 'Barcode_Wordmark.png' | asset_url}}" class="table_image" alt=""></center>
                            </div>
                            <div class="col-12 border-bottom border-dark background_green">
                                <p class="text-center">YES</p>
                            </div>
                            <div class="col-12 border-bottom border-dark background_green">
                                <p class="text-center">YES</p>
                            </div>
                            <div class="col-12 border-bottom border-dark background_green">
                                <p class="text-center">YES</p>
                            </div>
                            <div class="col-12 border-bottom border-dark background_green last_column">
                                <p class="text-center ">YES</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-12 border-bottom border-dark table-header-comparison">
                                <p class="text-center">TRADITIONAL PERFORMANCE BEVERAGES</p>
                            </div>
                            <div class="col-12 border-bottom border-dark">
                                <p class="text-center">NO</p>
                            </div>
                            <div class="col-12 border-bottom border-dark">
                                <p class="text-center">NO</p>
                            </div>
                            <div class="col-12 border-bottom border-dark">
                                <p class="text-center">NO</p>
                            </div>
                            <div class="col-12 border-bottom border-dark last_column">
                                <p class="text-center">NO</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <center>    
                    <img src="{{ 'prev.svg' | asset_url}}" class="carousel-icon-btn" type="button" data-bs-target="#comparison_carousel" data-bs-slide="prev" >
                </center>    
            </div>
            <div class="col-6">
                <center>    
                    <img src="{{ 'next.svg' | asset_url}}" class="carousel-icon-btn" type="button" data-bs-target="#comparison_carousel" data-bs-slide="next">
                </center>    
            </div>
        </div>
    </div>
     <!--FOR CAROUSEL-->

        <div class="container">
            <div class="row mt-5 pb-5">
                <div class="col-12 col-md-4">
                    <button class=" btn btn-dark w-100 p-2">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>