<nav class="navigation background_green">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xxl-4 col-xxl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <a href="/"><img src="{{ 'Barcode_Wordmark.png' | asset_url}}" class="w-100" alt=""></a>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-6 mt-3 mt-md-auto">
                <p class="ms-auto ms-md-5">GET 20% OFF 2 CASES TODAY</p>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-6 align-self-center align-self-md-start m-0">
                <a href="{{all_products["barcode-two-pack"].url}}"  class="align-middle text-decoration-none shop-now-link">SHOP NOW {{ 'Arrow_1.png' | asset_url | img_tag: 'Arrow','d-block d-lg-block d-md-none arrow_icon float-end align-middle mt-1' }}</a>
            </div>
        </div>
    </div>
</nav>

