<div class="our_story pb-5 pt-5 background_green">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <h4>OUR STORY</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6  mt-md-0 mb-md-0 order-last order-md-first">
                <div class="row align-items-end h-50 pb-2">
                    <div class="col-12">
                        <h4>We are on a mission to empower everybody to perform at their best everyday.</h4>
                    </div>
                </div>
                <div class="row align-items-end h-50 pt-2 pb-2">
                    <div class="col-12">
                        <p>Barcode is a way of life. We believe that stellar performances are made through everyday actions, and that true health means being sound of body and mind. This philosophy drove us in the development of our functional beverages for everyday performance. Entirely plant-based and powered by adaptogens, Barcode works with your natural systems to keep your entire self at full potential.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mt-3 mt-md-0 mb-md-0 order-first order-md-last">
                <img src="{{ 'story1.png' | asset_url}}" class="w-100" alt="">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-6 pt-5 pt-md-auto">
                <img src="{{ 'story2.png' | asset_url}}" class="w-100" alt="">
            </div>
            <div class="col-12 col-md-6 pt-5 pt-md-auto">
                <div class="row h-100 align-items-end">
                    <div class="col-12">
                        <p>Barcode is developed by the experts, vetted by the pros — but made for everybody to enjoy, every single day. We’re building a vibrant community of game-changers, culturemakers, and everyday performers, creating the future of whole-body health, together.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>