
    <div class="reviews grey_background pb-5 pt-5">
        <div class="container pt-5 pb-5">
            <div class="row">
                <div class="col-12">
                    <h4>REVIEWS</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6">
                    <hr>
                    <div class="row">
                        <div class="col-12 review_item">
                            <h4>*****</h4>
                            <h5>ANDREW BAZZI</h5>
                            <p>THIS. STUFF. IS. AMAZING. I’M BIG INTO WORKING OUT AND I’M ALWAYS TRYING THE NEXT NEW SPORTS DRINK, SO I HAD TO GET MY HANDS ON BARCODE AND LET ME TELL YOU: THIS IS IT. IT’S SO MUCH MORE THAN A SPORTS DRINK. IT’S DELICIOUS, IT’S ACTUALLY GOOD FOR YOU, AND IT MAKES YOU FEEL LIKE A PRO (WHETHER YOU ARE ONE OR NOT). LET’S JUST SAY, MY FRIDGE IS STOCKED FOR GOOD.</p>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-12">
                            <p class="align-bottom">VERIFIED PURCHASE</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <hr>
                    <div class="row">
                        <div class="col-12 review_item">
                            <h4>*****</h4>
                            <h5>WAYNE ELLINGTON</h5>
                            <p>I HAD NO IDEA WHAT AN “ADAPTOGEN” WAS UNTIL I GOT AHOLD OF BARCODE, AND NOW I CAN’T IMAGINE HOW I’VE GONE THIS LONG WITHOUT THEM. THIS DRINK IS THE BEST THING I’VE TRIED IN A WHILE. IT NOT ONLY MAKES YOU FEEL GOOD, BUT IT’S GOOD FOR YOU, AND IT TASTES EVEN BETTER.</p>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-12">
                            <p class="align-bottom">VERIFIED PURCHASE</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <hr>
                    <div class="row">
                        <div class="col-12 review_item">
                            <h4>*****</h4>
                            <h5>LANGSTON GALLOWAY</h5>
                            <p>IS IT INSANE THAT I’VE ALREADY BOUGHT 5 CASES? MAYBE… BUT IT’S WORTH IT. THESE FLAVORS ARE SO SOLID. THE LEMON LIME IS CITRUSY AND REFRESHING, AND THE WATERMELON IS LIKE A HEALTHY JOLLY RANCHER. I’M SO EXCITED TO DRINK BARCODE EVERY DAY NOW WITH WHATEVER I DO.</p>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-12">
                            <p class="align-bottom">VERIFIED PURCHASE</p>
                            <hr class="d-none d-md-block">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <hr>
                    <div class="row">
                        <div class="col-12 review_item">
                            <h4>*****</h4>
                            <h5>ANDREW MCCUTCHEN</h5>
                            <p>I USUALLY SHY AWAY FROM “SPORTS DRINKS” BECAUSE I’M NOT THE BIGGEST ATHLETE, BUT I HAD HEARD SO MANY GREAT THINGS ABOUT BARCODE SO I DECIDED TO GIVE IT A TRY. I LOVE THIS STUFF! IT TASTES DELICIOUS AND IS ONLY 30 CALORIES, 6 GRAMS OF CARBS AND 2 GRAMS OF SUGAR. IT HAS SO MANY GREAT VITAMINS AND MINERALS IN IT SO EVEN IF I’M NOT WORKING OUT ALL THE TIME, IT’S STILL SUCH A GREAT THING TO INCORPORATE INTO MY ROUTINE.</p>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col-12">
                            <p class="align-bottom">VERIFIED PURCHASE</p>
                            <hr class="d-none d-md-block">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row mt-3 ">
                    <div class="col-12 col-md-4">
                        <button class=" btn btn-dark w-100 p-2">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>