.arrow_icon {
    width: 35px;
}

.navigation {
    padding: 20px;
}

@media (max-width: 768px) {
    .first_section {
        background-image: url('mobilebg.png');
        background-size: cover;
        background-position: center center;
    }
    .best_seller_badge {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: 90% !important;
    }
    .sale_badge {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 25px;
        left: 87% !important;
    }
    .table_image {
        width: 40%;
    }
}

@media (min-width: 769px) {
    .first_section {
        background-image: url('Bar-2401.png');
        background-size: cover;
        background-position: center center;
    }
}

.background_green {
    background-color: #ABFF3B;
}

.carousel_icon {
    position: absolute;
    bottom: 0px;
    color: black;
}

.form-check {
    padding: 0;
}

.form-check-input:checked+.form-check-label {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.form-check-input {
    display: none;
}

.form-check-label {
    cursor: pointer;
    border: solid #000000 1px;
    border-radius: 20px;
}

.best_seller_badge {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lawngreen !important;
    border-color: #000000 !important;
    font-size: 12px;
}

.sale_badge {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 25px;
    background-color: #000000 !important;
    color: #ffffff !important;
}

.grey_background {
    background-color: #f7f7f7;
}

.pointer_icon_1 {
    position: absolute;
    top: 85%;
    left: 110%;
}

.pointer_icon_2 {
    position: absolute;
    top: 70%;
    right: 110%;
}

.table_image {
    position: relative;
    bottom: 0px;
    width: 100%;
}

.table-header-comparison {
    height: 80px;
}

.last_column {
    height: 50px;
}

.review_item {
    height: 55vh;
}

.owl-dots {
    display: none;
}

.carousel-control-prev {
    left: 25% !important;
}

.carousel-control-next {
    right: 25%;
}

.carousel-control-img {
    font-size: 200px;
    margin-bottom: 20px;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: 0px solid black;
}

.owl-prev {
    left: -20px;
}

.owl-next {
    right: -20px;
}

.barcode-footer-icon {
    width: 65%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #fff !important;
}

.carousel-icon-btn {
    width: 15%;
    ;
}

.cart-empty {
    height: 80vh;
}

.shop-now-link {
    color: #000;
}

a:hover {
    color: #000 !important;
}

.quantity {
    width: 100px;
}